<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">

<head>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">

<link rel="stylesheet" href="styles/styles.css">
<link rel="stylesheet" href="styles/fontawesome_styles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width initial-scale=1.0" />

<title>Rockaleta</title>

</head>

<body>

	<!-- ======= Particle JS ======= -->

	<div class="home-area" id="particles-js"></div>
	<script type="text/javascript"
		src="js/particles.js-master/particles.js"></script>
	<script src="js/particles.js-master/demo/js/app.js"></script>

	<!-- ======= Header ======= -->
	<header id="header"
		class="fixed-top d-flex align-items-center header-transparent">
		<nav class="navbar navbar-expand-md navbar-dark" style="width: 100%;">
			<!-- Brand -->
			<a class="navbar-brand" href="#"><img src="images/logo.jpg"
				class="logo" alt="Ruf Kri an!"></a>

			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item glow-on-hover"><a class="nav-link"
						href="#gallery">Gallery</a></li>
					<li class="nav-item glow-on-hover"><a class="nav-link"
						href="#band-members">Band Members</a></li>
					<li class="nav-item glow-on-hover"><a class="nav-link"
						href="#contact">Contact</a></li>
				</ul>
			</div>
		</nav>

	</header>

	<!-- ======= Header ======= -->

	<!-- ======= Carousel Section ======= -->
	<section id="carousel">

		<div class="container-fluid">

			<div id="rockaletaCarousel" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-container-top-margin">
						<div class="carousel-item active">
							<img class="img-fluid" src="images/carousel/img1.jpg"
								alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="img-fluid" src="images/carousel/img2.jpg"
								alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="img-fluid" src="images/carousel/img3.jpg"
								alt="Third slide">
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#rockaletaCarousel"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#rockaletaCarousel"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</section>

	<main id="main">

		<!-- ======= About Section ======= -->
		<section id="about">

			<div class="container">
				<h1 class="title-text">About Us</h1>
			</div>
			<div class="container-fluid">

				<div class="row">

					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="about-image">
							<img class="about-image"
								src="images/about-image.jpg" alt="Card image cap">
						</div>
					</div>

					<div class="col-md-6 col-sm-12 col-xs-12">

						<div class="content">
							<h2>Rockaleta</h2>
							<h3>Die schärfste Partyband der Rhön</h3>
							<p>das sind Patrick und Sophia am Mikrofon, Bootzi (oder
								Sebastian) an der Gitarre, Lisa am Stage-Piano sowie Keyboard
								und natürlich die Männer für den Rhythmus mit Sebastian am
								Schlagzeug und Thomas am Bass</p>

							<p>Wir sind zwar neu, aber schon lange keine Neulinge mehr,
								wenn es um’s Musik machen geht. Mit einer Mischung aus guter
								alter Tanzmusik, den besten Partykrachern und einer Prise „Rock“
								wollen wir Eure Kirmes, Karneval, Feuerwehrfest oder was auch
								immer für einen Anlass der nach guter Stimmung schreit,
								beschallen.</p>

							<p>Technisch unterstützt in Ton und Licht werden wir dabei
								von „MB Musik Veranstaltungstechnik“.</p>

							<p>Wenn Ihr neugierig geworden seid, schreibt uns einfach auf
								Facebook an!</p>

							<p>Wir freuen uns auf Euch</p>

						</div>

					</div>

				</div>

			</div>
		</section>

		<!-- ======= Gallery Section ======= -->
		<section id="gallery">

			<div class="container-fluid">
				<h1>Gallery</h1>
				<br>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item"><a class="nav-link active"
						data-toggle="tab" href="#home">Urnhausen</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#menu1">Flori, Evi, Marcus</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#menu2">bla</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div id="home" class="container tab-pane active">
						<br>

						<div class="container-fluid">
							<div class="row mt-4">
								<div class="item col-sm-6 col-md-4 mb-3">
									<a href="images/urnshausen/img1.jpg" class="fancybox"
										data-fancybox="gallery1"> <img class="gallery-thumbnail"
										src="images/urnshausen/img1.jpg" width="100%" height="100%">
									</a>
								</div>
							</div>
							<div class="row mt-4">
								<div class="item col-sm-6 col-md-4 mb-3">
									<a href="images/urnshausen/img3.jpg" class="fancybox"
										data-fancybox="gallery1"> <img class="gallery-thumbnail"
										src="images/urnshausen/img3.jpg" width="100%" height="100%">
									</a>
								</div>
							</div>
						</div>


					</div>
					<div id="menu1" class="container tab-pane fade">
						<br>
						<h3>Menu 1</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div id="menu2" class="container tab-pane fade">
						<br>
						<h3>Menu 2</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit
							voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					</div>
				</div>
			</div>


		</section>




		<!-- ======= Band Members Section ======= -->
		<section id="band-members">
			<div class="container-fluid">
				<h1 class="title-text">Band Members</h1>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col col-md-3">
						<div class="card">
							<img class="card-img-top" src="images/bandmembers/thomas.jpg"
								alt="Card image" style="width: 100%">
							<div class="card-body">
								<h4 class="card-title">Thomas</h4>
								<p class="text-center">Bass Guitar</p>

							</div>
						</div>
					</div>
					<div class="col col-md-3">
						<div class="card">
							<img class="card-img-top" src="images/bandmembers/seb.jpg"
								alt="Card image" style="width: 100%">
							<div class="card-body">
								<h4 class="card-title">Seb</h4>
								<p class="text-center">Drummer</p>

							</div>
						</div>
					</div>
					<div class="col col-md-3">
						<div class="card">
							<img class="card-img-top" src="images/bandmembers/thomas.jpg"
								alt="Card image" style="width: 100%">
							<div class="card-body">
								<h4 class="card-title">Lisa</h4>
								<p class="text-center">Keyboard</p>

							</div>
						</div>
					</div>
					<div class="col col-md-3">
						<div class="card">
							<img class="card-img-top" src="images/bandmembers/boozi.jpg"
								alt="Card image" style="width: 100%">
							<div class="card-body">
								<h4 class="card-title">Boozi</h4>
								<p class="text-center">Guitar</p>

							</div>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col col-md-3">
						<div class="card">
							<img class="card-img-top" src="images/bandmembers/patrick.jpg"
								alt="Card image" style="width: 100%">
							<div class="card-body">
								<h4 class="card-title">Patrick</h4>
								<p class="text-center">Singer</p>

							</div>
						</div>
					</div>
					<div class="col col-md-3">
						<div class="card">
							<img class="card-img-top" src="images/bandmembers/sophia.jpg"
								alt="Card image" style="width: 100%">
							<div class="card-body">
								<h4 class="card-title">Sophia</h4>
								<p class="text-center">Singer</p>

							</div>
						</div>
					</div>
					<div class="col col-md-3">
						<div class="card">
							<img class="card-img-top" src="images/bandmembers/bennylump.jpg"
								alt="Card image" style="width: 100%">
							<div class="card-body">
								<h4 class="card-title">Bennylump</h4>
								<p class="text-center">Guitar</p>

							</div>
						</div>
					</div>
					<div class="col col-md-3">
						<div class="card">
							<img class="card-img-top" src="images/bandmembers/boozi.jpg"
								alt="Card image" style="width: 100%">
							<div class="card-body">
								<h4 class="card-title">Keyboarder2</h4>
								<p class="text-center">Keyboard</p>

							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section id="contact">

			<div class="container">
				<h1 class="title-text">Kontakt</h1>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-offset-2 col-md-5">
						<div class="container-fluid">
							<form action="#" th:action="@{/saveContactForm}"
								th:object="${contactForm}" method="post">
								<div class="row form-row">
									<div class="col-md-2">Name:</div>
									<div class="col-md-6">
										<input class="input-box" type="text" autocomplete="off"
											th:field="*{requestorName}" required />
									</div>
								</div>
								<div class="row form-row">
									<div class="col-md-2">Email:</div>
									<div class="col-md-6">
										<input class="input-box" type="text" autocomplete="off"
											th:field="*{email}" required />
									</div>
								</div>
								<div class="row form-row">
									<div class="col-md-2">Kontakt:</div>
									<div class="col-md-6">
										<input class="input-box" type="text" autocomplete="off"
											th:field="*{phoneNumber}" required />
									</div>
								</div>
								<div class="row form-row">
									<div class="col-md-2">Notes:</div>
									<div class="col-md-6">
										<input class="input-box" type="text" autocomplete="off"
											th:field="*{notes}" />
									</div>
								</div>
								<div class="row form-row">
									<label><input type="checkbox" name="isTermsAgreed"
										required /> I agree to the Terms and Conditions</label>
								</div>
								<div class="row form-row">
									<div class="col-md-4"></div>
									<div class="col-md-2">
										<button type="submit" class="btn submit-button glow-on-hover">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<br /> <br />
					<div class="col-md-4" id="contact-icons">
						<div class="containter">
							<div class="row icon-row">
								<div class="col-md-2 icon">
									<a target="_blank"
										href="https://www.facebook.com/Rockaleta-Die-Partyband-2280649342206833"><i
										class="fa fa-facebook rounded-icon"></i></a>
								</div>
								<div class="col-md-2 icon">
									<a target="_blank" href="#"> <i
										class="fa fa-instagram rounded-icon"></i>
									</a>
								</div>
								<div class="col-md-2 icon">
									<a target="_blank"
										href="https://www.youtube.com/channel/UCI1UrvYZBBN_CJ3fw33pFPw">
										<i class="fa fa-brands fa-youtube-play rounded-icon"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	</main>

	<!-- ======= Footer Section ======= -->

	<br />
	<!-- Footer -->
	<footer id="footer" class="text-center text-lg-start text-muted">
		<section>
			<div class="row">
				<img src="images/banner.jpg" alt="Card image cap" class="footer-banner">
			</div>
			<div class="row">
				<h1 class="footer-banner">Die schärfste Partyband der Rhön</h1>
			</div>
		</section>
		<br />
		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mt-5">
				
				<div class="row">
					
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h3>Finde Uns</h3>
						<p>
							<a
								href="https://www.youtube.com/channel/UCI1UrvYZBBN_CJ3fw33pFPw"
								target="_blank" class="footer-link">Youtube</a>
						</p>
						<p>
							<a href="https://www.facebook.com/rockaletapartyband/"
								target="_blank" class="footer-link">Facebook</a>
						</p>
						<p>
							<a href="#!" class="footer-link">Instagram</a>
						</p>
						<p>
							<a href="#!" class="footer-link">Email</a>
						</p>
						<p>
							<a href="#!" class="footer-link">Phone</a>
						</p>
					</div>

					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h3>Legal Info</h3>
						<p>
							<a href="#!" class="footer-link">Impressum</a>
						</p>
						<p>
							<a href="#!" class="footer-link">Dantenschutz</a>
						</p>
						<p>
							<a href="#!" class="footer-link">Cloud</a>
						</p>
						<p>
							<a href="#!" class="footer-link">Privacy</a>
						</p>
					</div>
				</div>

			</div>
			<br />
			<div class="me-5 d-none d-lg-block">
				Developed by &nbsp; <a
					href="https://www.linkedin.com/in/kritikamurugan/">Kritika
					Murugan</a>
			</div>
		</section>

	</footer>
	<!-- Footer -->


</body>
</html>