@font-face {
	font-family: curvyFont;
	src: url("fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf");
}

@font-face {
	font-family: straightFont;
	src: url("fonts/Nunito/Nunito-Light.ttf");
}

body, .navbar, .nav, .navbar-nav, .tab-content {
	background-color: black;
	color: white;
	font-family: straightFont;
	font-size: 3vh;
}

a, li {
	background-color: black;
	color: white;
	font-family: straightFont;
}

li {
	z-index: 3000;
}

body {
	padding: 15px;
}

h1, h2, h3, h4 {
	font-family: curvyFont;
	text-align: center;
}

p {
	font-size: 3vh;
}

a, .col-md-6, .col-md-4, .col-md-3, .col-md-2 {
	padding: 0px;
	margin: 0px;
}

#particles-js {
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.title-text {
	margin-top: 15vh;
	margin-bottom: 9vh;
}

.logo {
	margin-top: -15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
	background-color: #fc6b03;
}

.nav-pills>li.active>a:hover, .nav-pills>li>a:hover, .navbar-nav>li>a:hover
	{
	background-color: black;
}

.navbar-brand:hover {
	background-color: black;
}

.banner {
	margin-top: 6vh;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.carousel-container-top-margin {
	margin-top: 15vh;
}

.carousel-image {
	height: 90vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-image {
	padding: 15px;
	width: 100%;
}

.tab-pane {
	z-index: 2;
}

.card {
	width: 35vh;
	margin: 3vh;
}

.card-body {
	background-color: black;
}

input {
	outline: none;
	border: none;
}

.input-box {
	background-color: black;
	border-bottom: 3px solid #fc6b03;
}

.form-row {
	margin-top: 3vh;
}

.icon-row {
	display: flex;
}

.place-button {
	background-color: black;
	border: 3px solid #fc6b03;
	height: 30vh;
	width: 30vh;
	font-size: 6vh;
}

.submit-button {
	color: white;
	background-color: black;
	border: 3px solid #fc6b03;
}

.submit-button:hover {
	color: #fc6b03;
}

#contact-icons {
	font-size: 8vh;
}

#footer {
	margin-top: 9vh;
	background-color: black;
	border-top: 1px solid #fc6b03;
}

.footer-link {
	color: white;
}

.footer-link:hover {
	color: #fc6b03;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
	display: flex;
}