/* Fonts */
@font-face {
	font-family: curvyFont;
	src: url("fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf");
}

@font-face {
	font-family: straightFont;
	src: url("fonts/Nunito/Nunito-Light.ttf");
}

/* Basics */
body, .navbar, .nav, .navbar-nav, .tab-content {
	background-color: black;
	color: white;
	font-family: straightFont;
	font-size: 3vh;
}

a:hover {
	color: white;
}

a, li {
	background-color: black;
	color: white;
	font-family: straightFont;
}

li, li.active {
	background-color: black;
	color: white;
	z-index: 2;
}

body {
	padding: 15px;
}

h1, h2, h3, h4 {
	font-family: curvyFont;
	text-align: center;
}

p {
	font-size: 3vh;
}

a, .col-md-6, .col-md-4, .col-md-3, .col-md-2 {
	padding: 0px;
	margin: 0px;
}

/* Background animation using Particle.js */
#particles-js {
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
}

/* Title text of each section */
.title-text {
	margin-top: 15vh;
	margin-bottom: 9vh;
}

/* Logo at top left corner */
.logo {
	margin-top: -15px;
}

/* Carousel Section*/
.carousel-container-top-margin {
	margin-top: 15vh;
}

.carousel-img {
	width: 100%;
	object-fit: cover;
}

/* About Section */
.about-image {
	padding: 15px;
	width: 100%;
	object-fit: cover;
}

/* Gallery Section */
.nav-tabs .nav-link.active {
	background-color: black;
	color: white;
	border: none;
	border-bottom: 3px solid red;
	margin-right: 3vh;
}

.active, .nav-link, .nav-item {
	background-color: black;
	color: white;
	border: none;
}

a.nav-link:hover {
	background-color: black;
	color: red;
	opacity: 1.0;
	border: none;
}

.gallery-tab {
	border: none;
}

.tab-pane {
	z-index: 2;
}

.gallery-thumbnail {
	margin: 3vh;
	float: left;
	width: 30vh;
	height: 30vh;
	object-fit: cover;
	float: left;
}

/* Band Members Section */
.card {
	width: 35vh;
	margin: 3vh;
	border: 6px solid white;
}

.card-img-top {
	float: left;
	width: 35vh;
	height: 40vh;
	object-fit: cover;
}

.card-body {
	background-color: black;
}

/* Contact Section */
.form-control {
	outline: none;
	border: none;
}

.notes, .notes:focus {
	color: white;
	background-color: black;
	border-bottom: 3px solid #fc6b03;
	border-left: 1px solid #fc6b03;
	border-right: 1px solid #fc6b03;
	border-top: 1px solid #fc6b03;
}

.input-box, .input-box:focus {
	color: white;
	background-color: black;
	border-bottom: 3px solid #fc6b03;
}

.form-row {
	margin-top: 3vh;
}

.submit-button {
	color: white;
	border: 3px solid #fc6b03;
}

.submit-button:hover {
	color: #fc6b03;
}

.confirmation-message {
	color: #02ed41;
}

/* Footer Section */
#footer {
	margin-top: 9vh;
	border-top: 1px solid #fc6b03;
}

.footer-banner {
	margin-top: 3vh;
	z-index: 1000;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.footer-link:hover {
	color: #fc6b03;
}

.popover {
	color: white;
	background-color: #ffbc8c;
}

/* Modals */
.modal-header, .modal-body, .modal-footer {
	background-color: black;
	color: white;
	border: 1px solid white;
}